@import '/styles/vars';

.total-bet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Black Ops One', sans-serif;
  padding: 4px 8px;
  color: white;
  margin: 4px auto;
  user-select: none;
  border: solid 2px $border-color;
  border-radius: $border-radius;
  font-size: 1.5em !important;
  background-image: linear-gradient(356deg, rgba(13, 143, 104, 0.67) 0%, #5666c330 50%);

  .label {
    text-transform: uppercase;
    line-height: 1em;
  }

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;

    button:first-child {
      margin-right: 8px;
    }

    button:last-child {
      margin-left: 8px;
    }

    .value {
      width: 32px;
    }
  }
}
