$font-path: '/fonts/';
$fonts: (
  'Russo One': 'RussoOne-Regular.ttf',
  'Lobster': 'Lobster-Regular.ttf',
  'Permanent Marker': 'PermanentMarker-Regular.ttf',
  'Handjet': 'Handjet-VariableFont_ELGR,ELSH,wght.ttf',
  'Black Ops One': 'BlackOpsOne-Regular.ttf',
);

@each $font, $path in $fonts {
  @font-face {
    font-family: $font;
    src: url('#{$font-path}#{$path}') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
}
