$font-path: '/public/fonts/';
$fonts: (
  'Russo One': 'Russo_One/RussoOne-Regular.ttf',
  'Lobster': 'Lobster/Lobster-Regular.ttf',
  'Permanent Marker': 'Permanent_Marker/PermanentMarker-Regular.ttf',
  'Handjet': 'Handjet/Handjet-VariableFont_ELGR,ELSH,wght.ttf',
  'Black Ops One': 'Black_Ops_One/BlackOpsOne-Regular.ttf',
);

@each $font, $path in $fonts {
  @font-face {
    font-family: $font;
    src: url('#{$font-path}#{$path}') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
}
