html,
body {
  padding: 0;
  margin: 0;
}

body {
  background: #000;
  width: 100vw;
  height: 100vh;
}

#app {
  text-align: center;
}

#slot {
  margin-top: 16%;
  border: solid 1px rgba(106, 110, 106, 0.91);
  box-sizing: content-box;
}

.blink {
  animation: blink 0.4s infinite alternate;
  -webkit-animation: blink 0.4s infinite alternate;
}
@keyframes blink {
  to {
    background: #c3ad00;
  }
}
@-webkit-keyframes blink {
  to {
    background: #c3ad00;
  }
}

body {
  background: black !important;
}

.gold {
  color: gold !important;
}
.green {
  color: green;
}

.v-align {
  vertical-align: inherit !important;
}

div.modal-footer,
div.modal-body,
div.modal-header {
  background-color: #000000de;
  color: white;
}

table td {
  text-align: center;
}

.hidden {
  display: none;
}

.lil-gui.autoPlace {
  right: 0 !important;
}
