@import '/styles/vars';

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background: #000;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 640px; /* TODO configure for different screen sizes*/
}

#slot {
  border: solid 1px rgba(106, 110, 106, 0.91);
  box-sizing: content-box;
  border-radius: $border-radius;
}

body {
  background: black !important;
}

.v-align {
  vertical-align: inherit !important;
}

div.modal-footer,
div.modal-body,
div.modal-header {
  background-color: #000000de;
  color: white;
}

table td {
  text-align: center;
}

.hidden {
  display: none;
}

.lil-gui.autoPlace {
  right: 0 !important;
}
